<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moberation.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.moberation.android.StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moberation.android.JoinGameActivity"
            android:label="@string/title_activity_join_game" >
        </activity>
        <activity
            android:name="com.moberation.android.StartNewGameActivity"
            android:label="@string/title_activity_start_new_game" >
        </activity>
        <activity
            android:name="com.moberation.android.SurgeonActivity"
            android:label="@string/title_activity_surgeon" >
        </activity>
        <activity
            android:name="com.moberation.android.Anestesi"
            android:label="@string/title_activity_anestesi" >
        </activity>
    </application>

</manifest>